# Virtual Environment
/venv
__pycache__/
*.py[cod]

# Large file types
*.zip
*.gz
*.tar
*.rar
*.7z
*.iso
*.dmg
*.bin
*.exe
*.dll
*.pdf
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv

# Log files
*.log
logs/

# Database files
*.db
*.sqlite
*.sqlite3



# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build directories
build/
dist/
*.egg-info/

# Dependencies
node_modules/